.select2-selection__rendered {
    line-height: 35px !important;
    padding-left: 0.75rem !important;
}
.select2-container {
    z-index: 1060;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 38px !important;
}
.selection-subtext {
    padding-left: 10px;
    color: #808080 !important;
    font-size: smaller;
}
